<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guoduguanka_shikongmen_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,0},{694,320}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{694,320}}</string>
                <key>sourceSize</key>
                <string>{750,400}</string>
            </dict>
            <key>guoduguanka_shikongmen_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{694,322}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{694,322}}</string>
                <key>sourceSize</key>
                <string>{750,400}</string>
            </dict>
            <key>guoduguanka_shikongmen_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{694,320}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{694,320}}</string>
                <key>sourceSize</key>
                <string>{750,400}</string>
            </dict>
            <key>guoduguanka_shikongmen_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{694,320}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{694,320}}</string>
                <key>sourceSize</key>
                <string>{750,400}</string>
            </dict>
            <key>guoduguanka_shikongmen_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{694,320}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{694,320}}</string>
                <key>sourceSize</key>
                <string>{750,400}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,0},{1,1}}</string>
                <key>offset</key>
                <string>{-181.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,0},{1,1}}</string>
                <key>offset</key>
                <string>{-181.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,218},{50,40}}</string>
                <key>offset</key>
                <string>{157,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,135},{50,40}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,560},{106,42}}</string>
                <key>offset</key>
                <string>{129,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,133},{106,42}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,218},{118,48}}</string>
                <key>offset</key>
                <string>{85,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,124},{118,48}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,106},{112,54}}</string>
                <key>offset</key>
                <string>{33,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,113},{112,54}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,0},{106,58}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,99},{106,58}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,336},{94,60}}</string>
                <key>offset</key>
                <string>{-58,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,83},{94,60}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,430},{82,62}}</string>
                <key>offset</key>
                <string>{-95,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,66},{82,62}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,492},{68,70}}</string>
                <key>offset</key>
                <string>{-124,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,41},{68,70}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,560},{46,70}}</string>
                <key>offset</key>
                <string>{-143,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{46,70}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,0},{26,56}}</string>
                <key>offset</key>
                <string>{-153,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{26,56}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,56},{16,18}}</string>
                <key>offset</key>
                <string>{-155,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{16,18}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,0},{1,1}}</string>
                <key>offset</key>
                <string>{-181.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,0},{1,1}}</string>
                <key>offset</key>
                <string>{-181.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,0},{1,1}}</string>
                <key>offset</key>
                <string>{-181.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,0},{1,1}}</string>
                <key>offset</key>
                <string>{-181.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
            <key>guoduguanka_shikongmendeng_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,0},{1,1}}</string>
                <key>offset</key>
                <string>{-181.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{364,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big15.png</string>
            <key>size</key>
            <string>{1690,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:801c9f8ccd6c827ab057d7ba0ecbf9a3$</string>
            <key>textureFileName</key>
            <string>big15.png</string>
        </dict>
    </dict>
</plist>
